@{
    ViewBag.Title = "Trang chủ";
}
<div class="jumbotron text-center">
    <h1>Chào Mừng Đến Với CornSlad Store</h1>
    <p>Rất vinh dự khi phục vụ quý khách!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Bạn thích mua gì</h3>
            <p>Luôn có sản phẩm cho bạn</p>
        </div>
        <div class="col-sm-4">
            <h3>Tại sao bạn lại là CornSalad Store</h3>
            <p>Hàng đúng chất, giá cả phải chăng</p>
        </div>
        <div class="col-sm-4">
            <h3>CornSalad Store có những gì</h3>
            <p>Có tất cả những thứ bạn yêu thích</p>
        </div>
    </div>
</div>