
@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Supplier/Save" method="post">

            <input type="hidden" name="SupplierID" value="SupplierID"  />
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tên đăng nhập:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ContactName" name="ContactName" value=" Nhập user">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Nhập mật khẩu cũ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ContactName" name="ContactName" value=" Nhập mật khẩu cũ">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Nhập mật khẩu mới:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Address" name="Address" value=" nhập  mật khẩu mới">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Nhập lại mật khẩu mới:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Phone" name="Phone" value="Nhập lại mật khẩu mới">
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Lưu dữ liệu
                    </button>
                    <a href="~/Account/Profile" class="btn btn-warning">
                        <i class="glyphicon glyphicon-circle-arrow-left"></i>
                        Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

